
{{> navbar logout=true edit=true signers=true home=true}}

<div class="main-container">
{{#if error}}<div id="input-err">something went wrong with edit, please try again</div>{{/if}}
{{#if updated}}<div id="input-err">Form was successfully updated</div>{{/if}}
{{#if wrongUrl}}<div id="input-err">Wrong URL Input, URL has to start with: http:, https: or //</div>{{/if}}
{{#if noNameInput}}<div id="input-err">Please enter your full name</div>{{/if}}


<form action="" method="POST" id="edit-form">
<label for="edit-first">First Name</label>
<input type="text" id="edit-first" name="first" placeholder="ENTER FIRST NAME" value="{{first}}">
<label for="edit-last">Last Name</label>
<input type="text" id="edit-last" name="last" placeholder="ENTER LAST NAME" value="{{last}}">
<label for="edit-email">E-Mail</label>
<input type="email" id="edit-email" name="email" placeholder="ENTER EMAIL" readonly="readonly" value="{{email}}">
<label for="edit-pw">Password</label>
<input type="password" id="edit-pw" name="password">
<label for="edit-age">Age</label>
<input type="number" id="edit-age" name="age" placeholder="ENTER YOUR AGE" value="{{age}}">
<label for="edit-city">City</label>
<input type="text" id="edit-city" name="city" placeholder="ENTER HOME CITY" value="{{city}}">
<label for="edit-url">Homepage</label>
<input type="text" id="edit-url" name="url" placeholder="URL STARTING WITH HTTPS: HTTP: or //" value="{{url}}">
<button id="edit-btn">UPDATE PROFILE</button>
</form>

{{!-- <form action="/thanks/delete" method="POST" id="delete-form">
    <button id="delete-signature">DELETE SIGNATURE</button>
</form> --}}

</div>