
{{> navbar logout=true edit=true signers=true home=true}}

{{#if error}}<div id="input-err">something went wrong with edit, please try again</div>{{/if}}
{{#if updated}}<div id="input-err">Form was successfully updated</div>{{/if}}

<form action="" method="POST">
<label for="edit-first">First Name</label>
<input type="text" id="edit-first" name="first" value="{{first}}">
<label for="edit-last">Last Name</label>
<input type="text" id="edit-last" name="last" value="{{last}}">
<label for="edit-email">E-Mail</label>
<input type="email" id="edit-email" name="email" value="{{email}}">
<label for="edit-pw">Password</label>
<input type="password" id="edit-pw" name="password">
<label for="edit-age">Age</label>
<input type="number" id="edit-age" name="age" value="{{age}}">
<label for="edit-city">City</label>
<input type="text" id="edit-city" name="city" value="{{city}}">
<label for="edit-url">Homepage</label>
<input type="text" id="edit-url" name="url" value="{{url}}">
<button id="edit-btn">UPDATE PROFILE</button>
</form>