
{{> navbar logout=true edit=true signers=true home=true}}


<div class="main-container">
<ul id="signers-list">
    {{#rows}}
        <li>
            {{#if url}}
            <a href="{{url}}" id="signers-list-link" target="_blank">{{first}} {{last}}</a>
            {{else}}
            {{first}} {{last}}
            {{/if}}
            
            {{#if age}} - Age: {{age}}{{/if}}{{#if city}}<span>, from </span> <a id="signers-list-link" href="/signers/{{toLowerCase city}}">{{city}}</a> {{/if}}

        </li>
    {{/rows}}
</ul>

</div>